#findWarehouseSection {
    height: 785px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;

    .section__header {
        margin-bottom: 22px;
    }

    .section-container {
        position: relative;
        width: 100%;
        min-height: 760px;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .switch-button {
        z-index: 10;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        border: 3px solid var(--theme-color);
        border-radius: 32px;
        background-color: var(--theme-color);
        overflow: hidden;
        box-sizing: border-box;

        &__left,
        &__right {
            box-sizing: border-box;
            width: 180px;
            height: 100%;
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--theme-color);
            background-color: white;
            cursor: pointer;
            transition: .2s all;
        }
    }

    .switch-left .switch-button__left,
    .switch-right .switch-button__right {
        color: white;
        background-color: var(--theme-color);
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background: url('../img/svg/blot-find-warehouse.svg');
        left: 0;
        top: -115px;
        width: 751px;
        height: 1123px;
        background-repeat: no-repeat;
    }

    #findWarehouseView {
        position: absolute;
        left: -64px;
        width: 200vw;
        height: 100%;
        transition: .5s all;
        display: flex;

        &.right-view {
            translate: -100vw 0;
        }

        .view-half {
            border-radius: 32px;
            height: 700px;
            width: 100vw;
            padding: 0 64px;
            box-sizing: border-box;
        }
    }

    .warehouses-list {
        padding-top: 96px;

        .warehouse-card {
            margin-bottom: 18px;
            width: 100%;

            &__property {
                margin-bottom: 0 !important;
            }
        }
    }
}

.filter-button {
    position: relative;
    z-index: 10;
    width: 64px;
    height: 64px;
    background: url('../img/svg/filter-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--theme-color);
    border-radius: 18px;
    margin-left: 18px;
    transition: .2s all;
    cursor: pointer;

    &:active {
        background-color: var(--theme-color-light);
    }
}

.filters-form {
    position: absolute;
    z-index: 15;
    left: 385px;
    top: 90px;
    width: 490px;
    height: fit-content;
    border-radius: 32px;
    background-color: white;
    border: 2px solid var(--theme-color);
    padding: 22px;
}

#yandexMap {
    width: 100%;
    height: 100%;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    border-radius: 32px;
    overflow: hidden;
}

.pagination-block {
    
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .page {
        width: 60px;
        height: 60px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 600;
        margin-left: 14px;
        background-color: var(--pagination-white);
        color: var(--theme-color);
        cursor: pointer;

        &.selected {
            color: white;
            background-color: var(--theme-color);
            pointer-events: none;
        }
    }
}