.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0 64px;
    box-sizing: border-box;

    &__nav-wrapper {
        width: 530px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__add-warehouse {
        width: 260px;
        height: 50px;
        background-color: var(--theme-color);
        color: white;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .2s all;

        &:hover {
            background-color: var(--theme-color-light);
        }

        &:active {
            scale: .95;
        }
    }
}

.wh-logo {
    cursor: pointer;
}

.nav-element {
    color: var(--main-text-color);
    cursor: pointer;
    transition: .2s all;

    &.selected {
        color: var(--theme-color);
        pointer-events: none;
    }

    &:active {
        scale: .9;
    }
}