#mainSection {
    height: 555px;

    .section {
        
        &__container {
            width: 60vw;
            height: 310px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__header {
            margin: 0;
        }

        &__text {
            margin-top: 32px;
        }
    }
    
    &::after {
        content: "";
        position: absolute;
        width: 617px;
        height: 527px;
        z-index: -1;
        background: url('../img/svg/blot-main-page.svg');
        right: 5px;
        top: 8px;
        background-repeat: no-repeat;
    }
}

.main-points-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;

    &__point {
        padding: 14px 28px;
        background-color: white;
        border-radius: 18px;
        width: fit-content;
        margin-right: 16px;
        margin-bottom: 16px;
    }
}