#popularWarehousesSection {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 420px;

    .popular-warehouses-carousel {

        margin-top: 40px;
        position: relative;
        width: 100vw;
        translate: -64px 0;

        .warehouse-card {
            &__bottom-text {
                height: 80px;
            }
        }

        .carousel-cards-wrapper {
            
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            overflow-x: scroll;
            padding: 0 64px;
            box-sizing: border-box;
            padding-bottom: 10px;
        }

        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 64px;
        //     height: 100%;
        //     background: linear-gradient(to right, var(--bg-color) 20%, var(--bg-color-transparent) 100%);
        // }

        // &::after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     width: 100px;
        //     height: 100%;
        //     background: linear-gradient(to left, var(--theme-color-second) 20%, var(--theme-color-second-transparent) 100%);
        // }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background: url('../img/svg/blot-popular-warehouses.svg');
        right: 0;
        top: -360px;
        width: 946px;
        height: 1122px;
        background-repeat: no-repeat;
    }

    .warehouse-card {
        max-width: 775px;
    }
}

.warehouse-card {
    min-width: 700px;
    height: fit-content;
    color: var(--main-text-color);
    background-color: white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 32px;
    padding: 22px;
    box-sizing: border-box;
    transition: .2s all;
    cursor: pointer;
    
    &.colored {
        background-color: #F1F0FF;
        border: 4px solid #675CFF;

        .shorted {
            &::before {
                background: linear-gradient(to top, #F1F0FF 20%, #F1F0FF00 100%);
            }
        }
    }

    div {
        pointer-events: none;
    }

    &__header {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60px;

        &:has(.trusted) {
            &::after {
                content: '';
                background-image: url('../img/svg/verified.svg');
                background-size: cover;
                width: 36px;
                height: 36px;
                position: absolute;
                top: 0px;
                left: 45px;
            }
        }
    }

    &__icon {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        box-sizing: border-box;
        border: 4px solid var(--theme-color);
        margin-right: 18px;

        &.hidden {
            display: none;
        }

        &.trusted {
            position: relative;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
            margin-right: 36px;
        }
    }

    &__header-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
    }

    &__address {
        font-size: 16px;
    }

    &__properties {
        margin-top: 22px;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        width: 100%;
        flex-wrap: nowrap !important;
        overflow: scroll;
        pointer-events: all !important;
    }

    &__property {
        margin-right: 16px;
        margin-bottom: 8px;
        padding: 14px 18px;
        box-sizing: border-box;
        width: fit-content;
        height: fit-content;
        border-radius: 14px;
        border: 1px solid var(--main-text-color);
        white-space: nowrap;
    }

    &__bottom-text {
        margin-top: 6px;
        font-size: 16px;
        color: var(--light-grey);
        

        &.shorted::after {
            content: '...';
        }
    }

    &:last-child {
        margin-right: 0;
    }

    &:active {
        scale: .98;
    }
}