@import "base/animations";
@import "base/mixins";
@import "base/variables";

html {
    --main-text-color: #2E2E2E;
    --light-grey: #BFBFBF;
    --grey: #9C9C9C;
    --bg-color: #F3F3F3FF;
    --pagination-white: #F5F4FE;
    --bg-color-transparent: #F3F3F300;
    --theme-color: #675CFF;
    --theme-color-light: #786eff;
    --theme-color-second: #DCDAFFFF;
    --theme-color-second-transparent: #DCDAFF00;
    --telegram-color: #289FDB;
    --whatsapp-color: #40C451;
    background-color: var(--bg-color);
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    margin-top: 80px;
    box-sizing: border-box;
}

.section {
    width: 100%;
    padding: 0 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    position: relative;

    &__header {
        font-size: 48px;
        font-weight: 700;
        margin: 0;
    }

    &__text {
        font-size: 18px;
    }

    &:last-child {
        margin-bottom: 0 !important;
        display: none;
    }
}

.highlighted-text {
    font-size: 52px;
    color: var(--theme-color);
}

.add-warehouse-form {
    width: 896px;
}

.submit-button,
.multiline-input,
.default-input {
    width: 100%;
    height: 70px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 16px;
    padding-left: 18px;
    margin-bottom: 18px;
    border: none;
    box-sizing: border-box;
    transition: .1s all;

    &::placeholder {
        font-family: 'Inter';
        color: #9C9C9C;
    }

    &.invalid {
        border: 4px solid red;
        color: red;

        &::placeholder {
            color: rgba(255, 0, 0, 0.5);
        }
    }
}

.multiline-input {
    height: 188px;
    padding-top: 22px;
    resize: none;
}

.submit-button {
    width: 100%;
    height: 70px;
    font-size: 18px;
    background-color: var(--theme-color);
    color: white;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;

    &:active {
        background-color: var(--theme-color-light);
    }
}

.select,
.range {
    position: relative;
    width: 100%;
    height: 70px;
    font-size: 18px;
    border: none;
    background-color: var(--pagination-white);
    border-radius: 16px;
    padding: 0 0 0 18px;
    margin-top: 10px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select {
    cursor: pointer;
}

.range {
    margin-top: 0;
    box-sizing: border-box;
    width: 205px;
    padding-right: 50px;
}

.select-wrapper {
    position: relative;
    transition: .2s all;
    box-sizing: border-box;
    margin-bottom: 22px;
    font-size: 18px;

    &:last-child {
        margin-bottom: 0;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 15px;
        right: 10px;
        background: url('../img/svg/dropdown-arrow.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 20px;
        height: 20px;
        pointer-events: none;
        translate: -50% -50%;
        z-index: 15;
    }
}

.range-wrapper {
    margin-bottom: 22px;
    font-size: 18px;

    &:last-child {
        margin-bottom: 0;
    }
}

.inline-input {
    margin-top: 10px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inline-range-wrapper {
    position: relative;
    margin-left: 10px;
    margin-right: 18px;

    &:last-child {
        margin-right: 0;
    }

    &:has(.range_square) {
        &::after {
            content: "м²";
            position: absolute;
            top: 24px;
            right: 14px;
        }
    }
}

.copiable {
    position: relative;
    width: fit-content;
    color: black;
    border: 1px solid black;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 600;
    padding: 14px 64px 14px 22px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        right: 22px;
        top: 50%;
        translate: 0 -50%;
        width: 19px;
        height: 22px;
        background: url('../img/svg/copy-icon.svg');
    }
}

.cluster-circle,
.map-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border-radius: 200px;
    background-color: var(--theme-color);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
}

.cluster-circle {
    padding: 20px;
    width: 80px;
    height: 80px;
}

@import "sections/header";
@import "sections/main";
@import "sections/findWarehouse";
@import "sections/popularWarehouses";
@import "sections/aboutUs";
@import "sections/contacts.scss";
@import "sections/addWarehouse.scss";
@import "sections/modal.scss";
@import "base/media";